body {
    background-image: url(https://images.creativemarket.com/0.1.0/ps/7353023/1820/965/m1/fpnw/wm1/vhrcurpyvsoca7tmdjup4bikwr9tluqqycqknbt49gitoe9diuggdrpujsqselgd-.jpg?1574572825&s=b8b0de343dc1ee5ba264e82e37b1047e);
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
}

.container {
    padding-left: 700px;
    padding-top: 100px;
}

hr {
    color: white;
    border: dotted;
    width: 30%;
    float: left;
    border-bottom: none;
}

h2 {
    color: white;
}

h1 {
    color: white;
}